# Node.js / Frontend
node_modules/
/dist/
/.env
npm-debug.log
yarn.lock

# Python / Backend
__pycache__/
*.pyc
env/
.venv/
venv/
*.egg-info/
*.egg
*.env
.idea/
.vscode/
*.log
.ds_store

# OS generated
.DS_Store
Thumbs.db

# Build artifacts
build/
